<div class="bocuc  bocuc_55 "><div class="loprong"><div class="padding "><div class="bocuc  bocuc_56  "><div class="loprong"><div class="header"><span class="header_text">CÔNG TY TNHH 123CORP</span></div><div class="padding "><pre class="language-markup"><code><i class="fas fa-map-marker-alt"></i>Số 14 Phạm Quý Thích, Tân Quý,
  Tân Phú, TP Hồ Chí Minh</code></pre>
  <pre class="language-markup"><code><i class="fas fa-phone"></i>Tổng đài hỗ trợ:0906308380</code></pre>
  
  <p>Từ 8h00 - 22h00 các ngày thứ 2 đến chủ nhật<a title="" href="http://mayscan.net/"></a></p>
  <pre class="language-markup"><code><i class="fas fa-envelope"></i><a title="" href="http://mayscan.net/">123corpvn@gmail.com</a></code></pre></div></div></div><div class="bocuc  bocuc_57  "><div class="loprong"><div class="header"><span class="header_text">CHÍNH SÁCH MUA HÀNG</span></div><div class="padding ">
      <div class="menu_div" id="menu_57">
    
      
      
      
      <ul class="ul1"> <li class="li1"><a rel="nofollow" href="javascript:">Quy chế quản ý hoạt động</a>
      </li><li class="li2"><a rel="nofollow" href="javascript:">Hướng dẫn mua trả góp</a>
      </li><li class="li3"><a rel="nofollow" href="javascript:">Hướng dẫn mua hàng</a>
      </li><li class="li4"><a rel="nofollow" href="javascript:">Liên hệ  &amp; góp ý</a>
      </li>
      </ul>
      </div>
      
      </div></div></div><div class="bocuc  bocuc_58  "><div class="loprong"><div class="header"><span class="header_text">HỖ TRỢ KHÁCH HÀNG</span></div><div class="padding ">
      <div class="menu_div" id="menu_58">
    
      
      
      
      <ul class="ul1"> <li class="li1"><a rel="nofollow" href="javascript:">Quy chế quản ý hoạt động</a>
      </li><li class="li2"><a rel="nofollow" href="javascript:">Hướng dẫn mua trả góp</a>
      </li><li class="li3"><a rel="nofollow" href="javascript:">Hướng dẫn mua hàng</a>
      </li><li class="li4"><a rel="nofollow" href="javascript:">Liên hệ  &amp; góp ý</a>
      </li>
      </ul>
      </div>
      
      </div></div></div><div class="bocuc  bocuc_59  "><div class="loprong"><div class="header"><span class="header_text">HỖ TRỢ KHÁCH HÀNG</span></div><div class="padding ">
      <div class="menu_div" id="menu_59">
    
      
      
      
      <ul class="ul1"> <li class="li1"><a rel="nofollow" href="javascript:">Quy chế quản ý hoạt động</a>
      </li><li class="li2"><a rel="nofollow" href="javascript:">Hướng dẫn mua trả góp</a>
      </li><li class="li3"><a rel="nofollow" href="javascript:">Hướng dẫn mua hàng</a>
      </li><li class="li4"><a rel="nofollow" href="javascript:">Liên hệ  &amp; góp ý</a>
      </li>
      </ul>
      </div>
      
      </div></div></div></div></div></div>