
.bocuc_60 > .loprong {
  max-width: 1200px;
  margin: 0 auto;
}
.bocuc_60 > .loprong > .padding {
  color: #ffffff;
}
.bocuc_60 > div > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > .padding a {
  color: #ffffff;
}
.bocuc_60 > .loprong > div > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > div > .giua > .padding a {
  color: #ffffff;
}
.bocuc_60 > .loprong > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > .giua > .padding a {
  color: #ffffff;
}
.bocuc_61 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.bocuc_62 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.bocuc_62 > .loprong {
  text-align: center;
}
