.bocuc_55 {
  display: block;
  vertical-align: top;
  background: #262a2e;
}
.bocuc_55 > .loprong {
  max-width: 1200px;
  margin: 0 auto;
}
.bocuc_55 > .loprong > .padding {
  padding: 20px 0;
  color: #ffffff;
}
.bocuc_55 > div > .giua > .padding {
  padding: 20px 0;
  color: #ffffff;
}
.bocuc_55 > .loprong > .padding a {
  color: #ffffff;
}
.bocuc_55 > .loprong > div > .giua > .padding {
  padding: 20px 0;
  color: #ffffff;
}
.bocuc_55 > .loprong > div > .giua > .padding a {
  color: #ffffff;
}
.bocuc_55 > .loprong > .giua > .padding {
  padding: 20px 0;
  color: #ffffff;
}
.bocuc_55 > .loprong > .giua > .padding a {
  color: #ffffff;
}
.bocuc_56 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  font-size: 14px;
}
.bocuc_56 > div > .header {
  font-size: 16px;
  font-weight: bold;
}
.bocuc_56 > .loprong > .padding {
  color: #cccccc;
}
.bocuc_56 > div > .giua > .padding {
  color: #cccccc;
}
.bocuc_56 > .loprong > .padding a {
  color: #cccccc;
}
.bocuc_56 > .loprong > div > .giua > .padding {
  color: #cccccc;
}
.bocuc_56 > .loprong > div > .giua > .padding a {
  color: #cccccc;
}
.bocuc_56 > .loprong > .giua > .padding {
  color: #cccccc;
}
.bocuc_56 > .loprong > .giua > .padding a {
  color: #cccccc;
}
#menu_57 li,
#menu_57 ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#menu_57 a {
  display: block;
}
.box_wrap_ .padding {
  padding: 0;
}
.bocuc_57 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.bocuc_57 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
}
.bocuc_57 > .loprong > .padding {
  padding: 0 20px;
}
.bocuc_57 > div > .giua > .padding {
  padding: 0 20px;
}
.bocuc_57 > .loprong > div > .giua > .padding {
  padding: 0 20px;
}
.bocuc_57 > .loprong > .giua > .padding {
  padding: 0 20px;
}
#menu_57 a {
  color: inherit;
}
#menu_57 > ul > li {
  position: relative;
}
#menu_57 > ul > li:hover > a {
  color: #e03232;
}
#menu_57 > ul > .dang_chon > a {
  color: #e03232;
}
#menu_57 > ul > li > a {
  padding: 10px 0;
}
#menu_57 > ul > li > ul > li > a {
  white-space: nowrap;
}
#menu_57 > ul > .ngoinha_li .ngoinha {
  font-size: medium;
  padding: 0 5px;
  vertical-align: middle;
}
#menu_57 .dang_chon > a {
  font-weight: bold;
}
#menu_57 .menu_bang1 {
  position: initial;
  white-space: inherit;
}
#menu_57 > ul > li > ul,
#menu_57 > ul > li > ul > li > ul,
#menu_57 > ul > li > ul > li > ul > li > ul {
  left: 100%;
  position: absolute;
  min-width: 200px;
  display: none;
  background: #fff;
}
#menu_57 li:hover > ul {
  display: block;
  z-index: 99999;
  top: 0;
}
#menu_57 li:hover {
  position: relative;
}
#menu_57 > ul > li:hover > ul > ul {
  display: none;
}
#menu_57 > ul > li > ul > li:hover > ul {
  display: block;
}
#menu_58 li,
#menu_58 ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#menu_58 a {
  display: block;
}
.box_wrap_ .padding {
  padding: 0;
}
.bocuc_58 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.bocuc_58 > div > .header {
  font-size: 16px;
  font-weight: bold;
}
#menu_58 a {
  color: inherit;
}
#menu_58 > ul > li {
  position: relative;
}
#menu_58 > ul > li:hover > a {
  color: #e03232;
}
#menu_58 > ul > .dang_chon > a {
  color: #e03232;
}
#menu_58 > ul > li > a {
  padding: 10px 0;
}
#menu_58 > ul > li > ul > li > a {
  white-space: nowrap;
}
#menu_58 > ul > .ngoinha_li .ngoinha {
  font-size: medium;
  padding: 0 5px;
  vertical-align: middle;
}
#menu_58 .dang_chon > a {
  font-weight: bold;
}
#menu_58 .menu_bang1 {
  position: initial;
  white-space: inherit;
}
#menu_58 > ul > li > ul,
#menu_58 > ul > li > ul > li > ul,
#menu_58 > ul > li > ul > li > ul > li > ul {
  left: 100%;
  position: absolute;
  min-width: 200px;
  display: none;
  background: #fff;
}
#menu_58 li:hover > ul {
  display: block;
  z-index: 99999;
  top: 0;
}
#menu_58 li:hover {
  position: relative;
}
#menu_58 > ul > li:hover > ul > ul {
  display: none;
}
#menu_58 > ul > li > ul > li:hover > ul {
  display: block;
}
#menu_59 li,
#menu_59 ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#menu_59 a {
  display: block;
}
.box_wrap_ .padding {
  padding: 0;
}
.bocuc_59 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.bocuc_59 > div > .header {
  font-size: 16px;
  font-weight: bold;
}
#menu_59 a {
  color: inherit;
}
#menu_59 > ul > li {
  position: relative;
}
#menu_59 > ul > li:hover > a {
  color: #e03232;
}
#menu_59 > ul > .dang_chon > a {
  color: #e03232;
}
#menu_59 > ul > li > a {
  padding: 10px 0;
}
#menu_59 > ul > li > ul > li > a {
  white-space: nowrap;
}
#menu_59 > ul > .ngoinha_li .ngoinha {
  font-size: medium;
  padding: 0 5px;
  vertical-align: middle;
}
#menu_59 .dang_chon > a {
  font-weight: bold;
}
#menu_59 .menu_bang1 {
  position: initial;
  white-space: inherit;
}
#menu_59 > ul > li > ul,
#menu_59 > ul > li > ul > li > ul,
#menu_59 > ul > li > ul > li > ul > li > ul {
  left: 100%;
  position: absolute;
  min-width: 200px;
  display: none;
  background: #fff;
}
#menu_59 li:hover > ul {
  display: block;
  z-index: 99999;
  top: 0;
}
#menu_59 li:hover {
  position: relative;
}
#menu_59 > ul > li:hover > ul > ul {
  display: none;
}
#menu_59 > ul > li > ul > li:hover > ul {
  display: block;
}

.bocuc_60 {
  display: block;
  vertical-align: top;
  background: #171717;
}
.bocuc_60 > .loprong {
  max-width: 1200px;
  margin: 0 auto;
}
.bocuc_60 > .loprong > .padding {
  color: #ffffff;
}
.bocuc_60 > div > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > .padding a {
  color: #ffffff;
}
.bocuc_60 > .loprong > div > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > div > .giua > .padding a {
  color: #ffffff;
}
.bocuc_60 > .loprong > .giua > .padding {
  color: #ffffff;
}
.bocuc_60 > .loprong > .giua > .padding a {
  color: #ffffff;
}
.bocuc_61 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.bocuc_62 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.bocuc_62 > .loprong {
  text-align: center;
}
