.bocuc_27{display:block;vertical-align:top}
     .bocuc_27 > div > .header a{}
     .bocuc_28{display:block;vertical-align:top}
     .bocuc_28 > div > .header a{}
     .bocuc_28 > .loprong{max-width:1200px;margin:0 auto}
      .bocuc_29{display:inline-block;width:25%;vertical-align:top}
     .bocuc_29 > div > .header a{}
     .bocuc_30{display:block;vertical-align:top;}
    .bocuc_30 > div >  .header a{ }
    .bocuc_30 > .loprong > .padding{padding:20px;}
    .bocuc_30 > div > .giua  > .padding{padding:20px;}
    .bocuc_30> .loprong  > div > .giua > .padding{padding:20px;}
    .bocuc_30 > .loprong > .giua > .padding{padding:20px;}
    .bocuc_30 .otimkiem{display:inline-block;}

     #menu_32 li,
     #menu_32 ul{margin:0;list-style:none;padding:0}
    #menu_32 a{display:block}
            .box_wrap_ .padding{padding:0}
             .bocuc_32{display:block;margin:20px 0 0;vertical-align:top;background:#F4F4F4}
    .bocuc_32 > div > .header{font-size:20PX;font-weight:bold;padding:10PX;background:#F1F1F1;color:#E03232}
    .bocuc_32 > div > .header a{color:#E03232}
    #menu_32 a{color:inherit}
    #menu_32 > ul > li{position:relative}
    #menu_32 .menu_button{}
   #menu_32 > ul > li:hover{}
   #menu_32 > ul > .dang_chon{}
   #menu_32 > ul > li:hover > a{color:#E03232}
    #menu_32 > ul > .dang_chon > a{color:#E03232}
    #menu_32 > ul > li > a{padding:10px;}
    #menu_32 > ul > li > ul{}
   #menu_32 > ul > li > ul > a{}
   #menu_32 > ul > li > ul > li{}
   #menu_32 > ul > li > ul > li > a{white-space:nowrap}
   #menu_32 > ul > li > ul > li:hover{}
   #menu_32 > ul > li > ul > li:hover > a{}
            
   #menu_32 > ul > li > ul > li > ul > li{}
   #menu_32 > ul > li > ul > li > ul > li > a{}
    #menu_32 > ul > li > ul > li > ul > li:hover{}
   #menu_32 > ul > li > ul > li > ul > li:hover a{}
   #menu_32 > ul > .ngoinha_li .ngoinha{font-size:medium;padding:0 5px;vertical-align:middle}
    #menu_32 > ul > li.ngoinha_li{}
   #menu_32 .dang_chon > a{font-weight:bold}
            
   #menu_32 > ul > li > ul > li > ul > li >ul > li{}
   #menu_32 > ul > li > ul > li > ul > li >ul > li > a{}
    #menu_32 > ul > li > ul > li > ul > li >ul > li:hover{}
   #menu_32 > ul > li > ul > li > ul > li >ul > li:hover a{}
   #menu_32 > ul > li > ul > div > li{}
   #menu_32 > ul > li > ul > div > li > a{}
    #menu_32 > ul > li > ul > div > li:hover{}
            
    #menu_32 > ul > li > ul > div > li > ul > li{}
   #menu_32 > ul > li > ul > div > li > ul > li > a{}
    #menu_32 > ul > li > ul > div > li > ul > li:hover{}
   #menu_32 > ul > li > ul > div > li > ul > li:hover a{}
            
   #menu_32 .menu_bang1{position:initial;white-space:inherit }
    #menu_32 .icon_co_cap_con{}
                    
    #menu_32 > ul > li > ul,
                           #menu_32 > ul > li > ul > li > ul,
                           #menu_32 > ul > li > ul > li > ul> li > ul{left:100%;position:absolute;min-width:200px;display:none;background:#fff;}
    #menu_32 li:hover > ul{display:block;z-index:99999;top:0}
    #menu_32 li:hover{position:relative}
    #menu_32 > ul > li:hover > ul >ul{display:none}
    #menu_32 > ul > li > ul >li:hover > ul{display:block}
    #menu_32 > ul > li > ul li:hover{}
    .bocuc_34{display:block;vertical-align:top}
     .bocuc_34 > div > .header a{}
     .bocuc_34 > .loprong > .padding{padding:0 10px}
     .bocuc_34 > div > .giua > .padding{padding:0 10px}
     .bocuc_34> .loprong > div > .giua > .padding{padding:0 10px}
     .bocuc_34 > .loprong > .giua > .padding{padding:0 10px}
    .bocuc_35{display:block;margin:20px 0 0;vertical-align:top}
    .bocuc_35 > div > .header{font-size:16px;font-weight:bold;padding:10px;background:#F1F1F1;color:#E03232}
    .bocuc_35 > div > .header a{color:#E03232}
    .bocuc_35 .baiviet_box .anh{width:30%;display:inline-block;vertical-align:top;margin-right:2%;float:left;}
    .bocuc_35 .baiviet_box ul{padding:0;margin:0;list-style:none}
    .bocuc_35 .baiviet_box li{vertical-align:top;clear:both;text-align:left;}
    .bocuc_35 .baiviet_box .tieude a{color:inherit;font-size:medium;font-weight:normal}
    .bocuc_35 .tieude{display:inline-block;width:65%}
    .bocuc_35 .baiviet_box img{max-width:100%;max-height:100%}
    .bocuc_36{display:block;vertical-align:top;}
    
    .bocuc_36 > div >  .header{font-size:16PX;font-weight:bold;padding:10px;background:#F1F1F1;color:#E03232;}
    .bocuc_36 > div >  .header a{ color:#E03232;}
.bocuc_37 {
  display: block;
  vertical-align: top;
}
.bocuc_38 {
  display: block;
  vertical-align: top;
}
.bocuc_38 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background: #f1f1f1;
  color: #e03232;
}
.bocuc_38 > div > .header a {
  color: #e03232;
}
.bocuc_38 .anh_2 {
  width: 100%;
}
.bocuc_33 {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}
.bocuc_39 {
  display: block;
  vertical-align: top;
}
.bocuc_39 > .loprong {
  max-width: 1200px;
  margin: 0 auto;
}
.bocuc_39 > .loprong > .padding,
.bocuc_39 > div > .giua > .padding,
.bocuc_39 > .loprong > div > .giua > .padding,
.bocuc_39 > .loprong > .giua > .padding {
  padding: 0 20px;
}

.swiper_39{
  width: 100%;
}

.bocuc_70 .phantram {
  background-image: url(/userfiles/img/604647/sale.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: -7px;
  width: 65px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.bocuc_70 {
  display: block;
  vertical-align: top;
}
.bocuc_70 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_70 > .loprong > .padding,
.bocuc_70 > div > .giua > .padding,
.bocuc_70 > .loprong > div > .giua > .padding,
.bocuc_70 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_70 .html200 {
  display: inline-block;
}
.bocuc_70 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_70 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_70 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_70 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_70 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_70 li > div {
  height: 100%;
  position: relative;
}
.bocuc_70 .gia,
.bocuc_70 .nutmuahang {
  display: inline-block;
}
.bocuc_70 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_70 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_70 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_70 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_71 {
  display: block;
  vertical-align: top;
}
.bocuc_71 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_71 > .loprong > .padding,
.bocuc_71 > div > .giua > .padding,
.bocuc_71 > .loprong > div > .giua > .padding,
.bocuc_71 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_71 .html200 {
  display: inline-block;
}
.bocuc_71 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_71 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_71 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_71 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_71 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_71 li > div {
  height: 100%;
  position: relative;
}
.bocuc_71 .gia {
  display: inline-block;
}
.bocuc_71 .nutmuahang {
  display: inline-block;
}
.bocuc_71 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_71 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_71 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_71 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_72 {
  display: block;
  vertical-align: top;
}
.bocuc_72 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_72 > .loprong > .padding,
.bocuc_72 > div > .giua > .padding,
.bocuc_72 > .loprong > div > .giua > .padding,
.bocuc_72 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_72 .html200 {
  display: inline-block;
}
.bocuc_72 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_72 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_72 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_72 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_72 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_72 li > div {
  height: 100%;
  position: relative;
}
.bocuc_72 .gia {
  display: inline-block;
}
.bocuc_72 .nutmuahang {
  display: inline-block;
}
.bocuc_72 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_72 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_72 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_72 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_123,
.bocuc_46 {
  display: block;
  vertical-align: top;
}
.bocuc_46 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_46 > .loprong > .padding,
.bocuc_46 > div > .giua > .padding,
.bocuc_46 > .loprong > div > .giua > .padding,
.bocuc_46 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_46 .html200 {
  display: inline-block;
}
.bocuc_46 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_46 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_46 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_46 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_46 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_46 li > div {
  height: 100%;
  position: relative;
}
.bocuc_46 .gia,
.bocuc_46 .nutmuahang {
  display: inline-block;
}
.bocuc_46 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_46 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_46 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_46 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_63 {
  display: block;
  vertical-align: top;
}
.bocuc_63 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_63 > div > .header a {
}
.bocuc_63 > .loprong > .padding ,
.bocuc_63 > div > .giua > .padding ,
.bocuc_63 > .loprong > div > .giua > .padding ,
.bocuc_63 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_63 .html200 {
  display: inline-block;
}
.bocuc_63 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_63 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_63 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_63 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_63 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_63 li > div {
  height: 100%;
  position: relative;
}
.bocuc_63 li > div:hover {
}
.bocuc_63 .gia,
.bocuc_63 .nutmuahang {
  display: inline-block;
}
.bocuc_63 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_63 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_63 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_63 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_64 {
  display: block;
  vertical-align: top;
}
.bocuc_64 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_64 > div > .header a {
}
.bocuc_64 > .loprong > .padding,
.bocuc_64 > div > .giua > .padding,
.bocuc_64 > .loprong > div > .giua > .padding,
.bocuc_64 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_64 .html200 {
  display: inline-block;
}
.bocuc_64 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_64 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_64 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_64 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_64 .sanpham_box .div_noidung {
}
.bocuc_64 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_64 li > div {
  height: 100%;
  position: relative;
}
.bocuc_64 .gia,
.bocuc_64 .nutmuahang {
  display: inline-block;
}
.bocuc_64 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_64 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_64 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_64 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_65 {
  display: block;
  vertical-align: top;
}
.bocuc_65 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_65 > div > .header a {
}
.bocuc_65 > .loprong > .padding,
.bocuc_65 > div > .giua > .padding,
.bocuc_65 > .loprong > div > .giua > .padding,
.bocuc_65 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_65 .html200 {
  display: inline-block;
}
.bocuc_65 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_65 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_65 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_65 .mota {
}
.bocuc_65 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_65 .sanpham_box .div_noidung {
}
.bocuc_65 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_65 li > div {
  height: 100%;
  position: relative;
}
.bocuc_65 li > div:hover {
}
.bocuc_65 .gia {
  display: inline-block;
}
.bocuc_65 .nutmuahang {
  display: inline-block;
}
.bocuc_65 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_65 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_65 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_65 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_68 {
  display: block;
  vertical-align: top;
}
.bocuc_68 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_68 > div > .header a {
}
.bocuc_68 > .loprong > .padding {
  padding: 20px;
}
.bocuc_68 > div > .giua > .padding {
  padding: 20px;
}
.bocuc_68 > .loprong > div > .giua > .padding {
  padding: 20px;
}
.bocuc_68 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_68 .html200 {
  display: inline-block;
}
.bocuc_68 .phantram {
}
.bocuc_68 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_68 .anh .anh_sanpham_danhsach {
}
.bocuc_68 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_68 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_68 .mota {
}
.bocuc_68 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_68 .sanpham_box .div_noidung {
}
.bocuc_68 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_68 li > div {
  height: 100%;
  position: relative;
}
.bocuc_68 li > div:hover {
}
.bocuc_68 .gia {
  display: inline-block;
}
.bocuc_68 .nutmuahang {
  display: inline-block;
}
.bocuc_68 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_68 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_68 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_68 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_66 {
  display: block;
  vertical-align: top;
}
.bocuc_66 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_66 > div > .header a {
}
.bocuc_66 > .loprong > .padding {
  padding: 20px;
}
.bocuc_66 > div > .giua > .padding {
  padding: 20px;
}
.bocuc_66 > .loprong > div > .giua > .padding {
  padding: 20px;
}
.bocuc_66 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_66 .html200 {
  display: inline-block;
}
.bocuc_66 .phantram {
}
.bocuc_66 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_66 .anh .anh_sanpham_danhsach {
}
.bocuc_66 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_66 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_66 .mota {
}
.bocuc_66 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_66 .sanpham_box .div_noidung {
}
.bocuc_66 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_66 li > div {
  height: 100%;
  position: relative;
}
.bocuc_66 li > div:hover {
}
.bocuc_66 .gia {
  display: inline-block;
}
.bocuc_66 .nutmuahang {
  display: inline-block;
}
.bocuc_66 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_66 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_66 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_66 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_67 {
  display: block;
  vertical-align: top;
}
.bocuc_67 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_67 > div > .header a {
}
.bocuc_67 > .loprong > .padding {
  padding: 20px;
}
.bocuc_67 > div > .giua > .padding {
  padding: 20px;
}
.bocuc_67 > .loprong > div > .giua > .padding {
  padding: 20px;
}
.bocuc_67 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_67 .html200 {
  display: inline-block;
}
.bocuc_67 .phantram {
}
.bocuc_67 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_67 .anh .anh_sanpham_danhsach {
}
.bocuc_67 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_67 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_67 .mota {
}
.bocuc_67 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_67 .sanpham_box .div_noidung {
}
.bocuc_67 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_67 li > div {
  height: 100%;
  position: relative;
}
.bocuc_67 li > div:hover {
}
.bocuc_67 .gia {
  display: inline-block;
}
.bocuc_67 .nutmuahang {
  display: inline-block;
}
.bocuc_67 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_67 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_67 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_67 img {
  max-width: 100%;
  max-height: 100%;
}
.bocuc_69 {
  display: block;
  vertical-align: top;
}
.bocuc_69 > div > .header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}
.bocuc_69 > div > .header a {
}
.bocuc_69 > .loprong > .padding {
  padding: 20px;
}
.bocuc_69 > div > .giua > .padding {
  padding: 20px;
}
.bocuc_69 > .loprong > div > .giua > .padding {
  padding: 20px;
}
.bocuc_69 > .loprong > .giua > .padding {
  padding: 20px;
}
.bocuc_69 .html200 {
  display: inline-block;
}
.bocuc_69 .phantram {
}
.bocuc_69 .anh {
  display: block;
  vertical-align: top;
  justify-content: flex-start;
}
.bocuc_69 .anh .anh_sanpham_danhsach {
}
.bocuc_69 .tieude a {
  color: inherit;
  font-size: medium;
  font-weight: normal;
}
.bocuc_69 .gia {
  font-size: medium;
  font-weight: bold;
}
.bocuc_69 .mota {
}
.bocuc_69 .sanpham_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bocuc_69 .sanpham_box .div_noidung {
}
.bocuc_69 .sanpham_box li {
  width: 33.333333333333%;
  display: inline-block;
  vertical-align: top;
  clear: both;
  text-align: left;
}
.bocuc_69 li > div {
  height: 100%;
  position: relative;
}
.bocuc_69 li > div:hover {
}
.bocuc_69 .gia {
  display: inline-block;
}
.bocuc_69 .nutmuahang {
  display: inline-block;
}
.bocuc_69 .nutmuahang span {
  background: #262a2e;
  color: #fff;
  padding: 5px 10px;
}
.bocuc_69 .nuttragop span {
  background: #262a2e;
  color: #262a2e;
  padding: 5px 10px;
}
.bocuc_69 .giacu {
  display: inline-block;
  text-decoration: line-through;
}
.bocuc_69 img {
  max-width: 100%;
  max-height: 100%;
}
